.circle {
	position: absolute;
	cursor: pointer;
	@include border-radius(100px);
	@include transition(all 300ms ease-out);
	border: 1px solid rgba(0, 0, 0, .1);

	// Initial properties
	@include opacity(0);
	@include scale(.3);

	// stuff to show the circle
	&.on {
		@include opacity(1);
		@include scale(1);
	}
}